@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #2b0e0e;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

section {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form {
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 200px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #555;
}

.slider {
  max-width: 500px;
  margin-left: 200px; 
}

.slider img {
  max-width: 100%;
  height: 500px;
  max-height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.slick-slide {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.slick-active {
  opacity: 1;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 60px;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
}
footer {
    background-color: #2b0e0e;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }